@import '../../index.scss';

.convierte_ideas { 
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 80%;
    
    @include phone {
        width: 100%;
        flex-direction: column;
    }

    div {
        flex: 1;
        padding: 7%;
    }
    
    &__text {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        @include phone {
            width: 100%;
        } 

        &--title {
            
            text-align: left;
            color: $color-plain-black;
            @include phone {
                width: 80%;
            } 
        }

        &--subtitle {
            
            text-align: left;
            @include phone {
                margin-top: 2rem;
                width: 80%;
            } 
        }
    }

    &__img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
        @include phone {
            width: 100%;
            margin-top: 4rem;
            img{
                width: 80%;
            }
        } 
    }
}

.trabajemos_juntos { 
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 80%;
    @include phone {
        width: 100%;
        flex-direction: column;
    } 

    div {
        flex: 1;
        padding: 7%;
    }
    
    &__text {
        width: 50%;
        display: flex;
        justify-content: center;
        
        flex-direction: column;
        text-align: left;
        @include phone {
            width: 100%;
        } 

        &--title {
            
            text-align: left;
            color: $color-plain-black;
            @include phone {
                width: 80%;
            }
        }

        &--subtitle {
            
            text-align: left;
            @include phone {
                width: 80%;
            }
        }
    }

    &__img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include phone {
            width: 100%;
            margin-bottom: 4rem;
            img{
                width: 50%;
            }
        } 
    }
}

.tu_crecimiento { 
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 80%;
    
    &__text {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;

        &--title {
            width: 35%;
            text-align: left;
            color: $color-plain-black;
        }

        &--subtitle {
            width: 35%;
            text-align: left;
        }
    }

    &__img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}